.footer-wrapper {
    background-color: #11122b;
    color: #cbcbcb;
    font-family: "Ubuntu Condensed", sans-serif;
    /* Flex container */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    margin-top: -4px;
}

.footer-wrapper > .footer-image img{
    width: 180px;
    height: 100%;
    /* filter: brightness(50%); */
    opacity: 0.5;
}

.footer-wrapper > .contact-hour-wrapper span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    letter-spacing: 2px;
}

.footer-wrapper > .contact-hour-wrapper > .hours {
    font-size: 0.8em;
    color: #cea135;
    text-transform: uppercase;
}

.footer-wrapper > .links-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 400px;
}

.footer-wrapper > .social-media-link {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.footer-wrapper > .social-media-link a {
    font-size: 1.5em;
    color: #cbcbcb;
    transition: 0.5s;
}

.footer-wrapper > .social-media-link a:hover {
    color: #cea135;
}

.footer-wrapper > #copywrite-id > .copywrite-class {
    margin-bottom: 42px;
    font-size: 0.7em;
    color: #858585;
}